# Byte-compiled / optimized python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.env/

# IDE files
.vscode/
.idea/

# Dependency directories
venv/
env/

# Compiled Python files
*.pyc

# Logs
*.log

# Environment variables file
.env
.env.*

# Ignore any local settings file
settings.ini
data.db
sticky.db
/build
/dist